.TaArea {
    display: flex;
    width: 100%;
    background-color: yellow;
    justify-self: flex-start;
    flex-direction: column;
    align-self: center;
    margin: 1rem;
}



/* TEXTAREA */


.TextAreaBox{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.CheckLabel {
    text-transform: uppercase;
    align-self: center;
    /* margin-left: 4.8rem; */
    font-family: 'Epilogue', sans-serif;
    font-size: 1.1rem;
    display: inline-block
}

.LabelTa{
    display: flex;
    flex-direction: column;
    
}

.TaInput {
    margin: .5rem;
    outline: none;
    border: none;
    resize: none;
    border-radius: .5rem;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    text-transform: capitalize;
    color: rgb(173, 169, 169);
    justify-self: center;

}

.TaInput:focus{
    color: #fff;
    background-color: rgba(101, 122, 185, 0.993);
    font-size: 1.15rem;
    border: solid #fff;
    width: 296px;
    height: 96px;
}


