html {
  box-sizing: border-box;

}


*,
*::before,
*::after{
  box-sizing: inherit;
}




html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right bottom,
      #210a72, #f53163 );
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  min-width: 100%;
  min-height: 100%;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: red; */
}

